Package: 0xcc.woodfairy.cantreachme
Name: CantReachMe
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Show notification center when invoking reachability gesture
Maintainer: woodfairy
Author: woodfairy
Section: Tweaks
