Package: 0xcc.woodfairy.cantreachme
Name: CantReachMe
Depends: mobilesubstrate, preferenceloader
Version: 1.1.2
Architecture: iphoneos-arm
Description: Custom actions for the reachability gesture
Maintainer: woodfairy
Author: woodfairy
Section: Tweaks
