<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>sh.litten.preferences</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>sh.litten.preferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>key</key>
			<string>crm_action</string>
			<key>label</key>
			<string>Action</string>
			<key>validTitles</key>
			<array>
				<string>Notification Center</string>
				<string>Control Center</string>
			</array>
			<key>validValues</key>
			<array>
				<string>coversheet</string>
				<string>controlcenter</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Check out</string>
			<key>footerText</key>
			<string>This tweak is entirely written in Vim!</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>

	</array>
	<key>title</key>
	<string>CantReachMe</string>
</dict>
</plist>
