<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>0xcc.woodfairy.cantreachme</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>0xcc.woodfairy.cantreachme/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>0xcc.woodfairy.cantreachme</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>crm_action</string>
			<key>label</key>
			<string>Action</string>
			<key>PostNotification</key>
			<string>0xcc.woodfairy.cantreachme/ReloadPrefs</string>
			<key>validTitles</key>
			<array>
				<string>Notification Center</string>
				<string>Control Center</string>
				<string>Screenshot</string>
				<string>Dark Mode</string>
				<string>Airplane Mode</string>
				<string>Flashlight</string>
				<string>Bluetooth</string>
				<string>WiFi</string>
				<string>Lock Device</string>
			</array>
			<key>validValues</key>
			<array>
				<string>coversheet</string>
				<string>controlcenter</string>
				<string>screenshot</string>
				<string>darkmode</string>
				<string>airplane</string>
				<string>fleshlight</string>
				<string>bluetooth</string>
				<string>wifi</string>
				<string>lock</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Check out</string>
			<key>footerText</key>
			<string>This tweak is entirely written in Vim!</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openGithub</string>
			<key>label</key>
			<string>GitHub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openTwitter</string>
			<key>label</key>
			<string>My Twitter @woodfairyd</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openLittenTwitter</string>
			<key>label</key>
			<string>@Litteeen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openConstanzeTwitter</string>
			<key>label</key>
			<string>@JulzTDG</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openNepetaTwitter</string>
			<key>label</key>
			<string>@NepetaDev</string>
		</dict>

	</array>
	<key>title</key>
	<string>CantReachMe</string>
</dict>
</plist>
